<!doctype html>
<html lang="en" class="no-js">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/assets/images/favicon/favicon.ico">
    <script>
        document.documentElement.classList.remove("no-js");
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/vendor/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../assets/vendor/datatables/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/sass/main.css">
    <title>View NFT | Blockchain Australia Solutions</title>
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
    <div class="overlay"></div>
    <%- include('header'); -%>

    <section class="inner-content sec-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 pr-lg-5 mb-4 mb-md-0">
                    <h2 class="font-size-40 font-family-infra-bold mb-4 text-color-black" id="sName"></h2>
                    <p class="font-family-bs-regular font-size-16 text-color-body"
                        style="max-height: 200px; overflow-y: scroll;" id="sNftdescription"> </p>
                    <p class="font-family-infra font-size-16 text-color-808080 mb-0">Base Price:</p>
                    <h4 class="font-family-infra-bold font-size-38 text-color-royal-blue mb-4" id="nBasePrice">
                    </h4>
                    <div class="row pt-3 pb-3">
                        <div class="col-6 text-center text-md-left" id="bidnow" style="display: none;">
                            <button type="button" class="btn btn-primary btn-peach mx-auto" data-toggle="modal"
                                data-target="#bidnowmodal">Bid Now</button>
                        </div>
                        <div class="col-6 text-center text-md-left" id="buynow" style="display: none;">
                            <button type="button" class="btn btn-outline-cta-peach mx-auto color-white-on-hover"
                                data-toggle="modal" data-target="#buyitnow">Buy Now</button>
                        </div>
                        <div class="col-6 text-center text-md-left" id="btnEditPrice" style="display: none;">
                            <button class="btn btn-peach btn-primary btn-sm d-flex" data-toggle="modal"
                                data-target="#editPriceModal">Edit Price</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0" id="nftImg">
                    <img src="images/top-girl-nft-thumb.jpg" id="img" class="img-fluid mx-auto d-table"
                        style="height:289px;display: none !important;" />
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="userpill d-flex align-items-center w-100 mb-4">
                        <div class="userpill-left">
                            <img src="../assets/images/user-avatar.svg" class="img-fluid" width="46" height="46"
                                id="oPostedByProfile" />
                        </div>
                        <div class="pl-4 userpill-right">
                            <a href="#" class="text-color-body font-family-bs-medium font-size-16" id="oPostedBy"></a>
                            <div class="role text-color-light-purple font-family-bs-medium font-size-12">Created</div>
                        </div>
                    </div>
                    <div class="userpill d-flex align-items-center w-100 mb-4">
                        <div class="userpill-left">
                            <img src="../assets/images/user-avatar.svg" class="img-fluid" width="46" height="46"
                                id="oCurrentOwnerProfile" />
                        </div>
                        <div class="pl-4 userpill-right">
                            <a href="#" class="text-color-body font-family-bs-medium font-size-16"
                                id="oCurrentOwner"></a>
                            <div class="role text-color-light-purple font-family-bs-medium font-size-12">Owner</div>
                        </div>
                    </div>
                    <div class="separator mt-4 mb-4"></div>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="font-family-bs-regular font-size-16 text-color-body">Category :</td>
                                    <td class="text-color-peach font-family-bs-medium font-size-16"><a href="#"
                                            class="text-color-peach" id="eType"></a></td>
                                </tr>
                                <tr>
                                    <td class="font-family-bs-regular font-size-16 text-color-body">Quantity :</td>
                                    <td class="text-color-peach font-family-bs-medium font-size-16" id="nQuantity"></td>
                                </tr>
                                <tr>
                                    <td class="font-family-bs-regular font-size-16 text-color-body">Status :</td>
                                    <td class="text-color-peach font-family-bs-medium font-size-16" id="eAuctionType">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mt-md-5">
                <div class="col">
                    <div class="transaction-table-head bg-light-purple">
                        <h3 class="font-family-infra-bold p-3">Transaction Table</h3>
                    </div>
                    <div class="table-responsive">
                        <table id="BidTable" class="display">
                            <thead>
                                <th>Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Txn</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody id="BidList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer'); -%>

    <!-- Buy Now Modal -->
    <div class="modal fade" id="buyitnow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify" data-icon="carbon:close-filled" data-inline="false" style="color: #090928;"
                        data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/buy-button.svg"
                                    class="img-fluid mx-auto mb-4 mt-4 d-table" />
                                <h6 class="font-family-infra-semibold text-capitalize text-center mb-0">Buy Now</h6>
                            </div>
                        </div>
                        <div class="row align-items-center pt-3 pb-3 mt-4">
                            <div class="col">
                                <span id="modal-oRecipient" style="display: none;"></span>
                                <div class="table-responsive">
                                    <table class="table cart-table">
                                        <thead>
                                            <th class="font-famly-infra-bold text-color-peach">Item</th>
                                            <th class="font-famly-infra-bold text-color-peach">Total</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="cart-item d-flex align-items-center">
                                                        <div class="cart-item-thumb">
                                                            <img src="../assets/images/top-girl-nft-thumb.jpg"
                                                                class="rounded" width="100" height="100"
                                                                id="modal-img" />
                                                        </div>
                                                        <div class="cart-item-body pl-3">
                                                            <h4 class="font-family-bs-semibold font-size-24 text-color-body"
                                                                id="modal-sName"></h4>
                                                            <h5 class="font-family-bs-regular" id="modal-oCurrentOwner">
                                                                </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="font-family-bs-semibold font-size-24 text-color-body"
                                                        id="modal-nBasePrice"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="quantity">Quantity</label>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Quantity" name="quantity"
                                                        id="nftQuantity" class="form-control" min="1">
                                                    <label for="AmountError" style="font-size:15px;"
                                                        id="lblQuantityError"
                                                        class="text-danger d-none animated fadeInUp"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="totalAmount">Total</label>
                                                </td>
                                                <td>
                                                    <span class="font-family-bs-semibold font-size-24 text-color-body"
                                                        id="modal-final-amount"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button id="checkout" class="btn btn-primary btn-peach with-icon mx-auto" disabled>
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bid Now Modal -->
    <div class="modal fade" id="bidnowmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify" data-icon="carbon:close-filled" data-inline="false" style="color: #090928;"
                        data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/buy-button.svg"
                                    class="img-fluid mx-auto mb-4 mt-4 d-table" />
                                <h6 class="font-family-infra-semibold text-capitalize text-center mb-0">Bid Now</h6>
                            </div>
                        </div>
                        <div class="row align-items-center pt-3 pb-3 mt-4">
                            <div class="col">
                                <span id="modal-oRecipient" style="display: none;"></span>
                                <div class="table-responsive">
                                    <table class="table cart-table">
                                        <thead>
                                            <th class="font-famly-infra-bold text-color-peach">Item</th>
                                            <th class="font-famly-infra-bold text-color-peach">Your Bid</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="cart-item d-flex align-items-center">
                                                        <div class="cart-item-thumb">
                                                            <img src="../assets/images/top-girl-nft-thumb.jpg"
                                                                class="rounded" width="100" height="100"
                                                                id="modal-img" />
                                                        </div>
                                                        <div class="cart-item-body pl-3">
                                                            <h4 class="font-family-bs-semibold font-size-24 text-color-body"
                                                                id="modal-sName"></h4>
                                                            <h5 class="font-family-bs-regular" id="modal-oCurrentOwner">
                                                                </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="modalFocus">
                                                        <input type="number"
                                                            class="font-family-bs-semibold font-size-24 text-color-body"
                                                            id="modal-nBidPrice" value="0" />
                                                        <div id="nBidPrice-error"
                                                            class="invalid-feedback animated fadeInUp">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="quantity">Quantity</label>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" placeholder="Quantity" name="quantity"
                                                        id="nftQuantity" class="form-control" min="1"> -->
                                                    <input type="number"
                                                        class="font-family-bs-semibold font-size-24 text-color-body"
                                                        id="bidQuantity" placeholder="Quantity" value="1" min="1" />
                                                    <div for="AmountError" style="font-size:15px;"
                                                        id="lblBidQuantityError"
                                                        class="text-danger d-none animated fadeInUp"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="totalAmount">Total</label>
                                                </td>
                                                <td>
                                                    <span class="font-family-bs-semibold font-size-24 text-color-body"
                                                        id="modal-bid-final-amount"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button id="bid-checkout" class="btn btn-primary btn-peach with-icon mx-auto">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Price Modal -->
    <div class="modal fade" id="editPriceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify" data-icon="carbon:close-filled" data-inline="false" style="color: #090928;"
                        data-width="20" data-height="20"></span>
                </a>
                <div class="modal-body">
                    <div class="content-sec">
                        <div class="row align-items-center pt-3 pb-3 mt-4">
                            <div class="col">
                                <h3>New Base Price</h3>
                            </div>
                            <div class="col">
                                <input class="form-control" type="number" placeholder="Base Price" name="new-price"
                                    id="txtNewPrice">
                                <div for="AmountError" style="font-size:15px;" id="lblNewPriceError"
                                    class="text-danger animated fadeInUp"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button id="btnUpdatePrice" class="btn btn-primary btn-peach with-icon mx-auto">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"
        integrity="sha512-0nVWK03Ud0k6o8wDkri8jxX9zQIn00ZHVud3iqBTwd2bGFwJDQShGVb3+vX1adCRxQckKQrIQMFmIA3tfWe+Mg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="text/javascript" src="../assets/js/slick.min.js"></script>
    <script type="text/javascript" src="../assets/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script src="../assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendor/datatables/js/dataTables.responsive.min.js"></script>
    <script src="../assets/vendor/web3/web3.min.js"></script>
    <script src="../User/js/abi.js"></script>
    <script src="../User/js/viewNFT.js"></script>
</body>

</html>